@model IEnumerable<TormanDomain.Contato>
@foreach (var item in Model) { 
    <p>@Html.DisplayFor(modelItem => item.ContatoDesc)</p>
        
    <p>@Html.DisplayFor(modelItem => item.ContatoEmail)</p>
        
    <p>@Html.DisplayFor(modelItem => item.ContatoTel)</p>
        
        
    
}

